.footer {
  color: white;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li {
  padding-top: 10px;
  font-size: 16px;
}
.footer .links li a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #2bc4da;
}

.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.map {
  width: 100%;
  height: 100%;
}

.map-container {
  width: 90%;
  height: 100%;
}
